**/.DS_Store
**/dataset/
**/images/
**/labels/
**/masks/

*dataset.zip
**/runs/

**/spot_annotations/
*spot_annotations.zip

**/spot_datasets/
*spot_datasets.zip
**/__pycache__/
**/yolo_env/
Icon*

**/predict_n/
**/predict_s/
**/out/

**sam2_outputs/
**my_annotations/

**/fine_tuning/